body {
  margin: 0px;
}
main {
  position: relative;
}
table {
  border-collapse: collapse;
}
td {
  border: 1px solid #aaaaaa;
  margin: 0px;
  padding: 10px;
  text-align: center;
}
fieldset {
  padding: 0px;
}
.form {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}
.info {
  display: inline-block;
}
.history-container {
  position: absolute;
  left: 300px;
  top: 5px;
  font-family: "Courier New";
}
.history-log {
  max-height: 103px;
  overflow-y: scroll;
}
.table-container {
  width: 100%;
  max-height: 80vh;
  display: inline-block;
  overflow: scroll;
}
.form input {
  width: 100%;
}

/************************/
.file-protocol-warning {
  padding: 5px;
  background: rgba(221, 204, 100, 0.65);
}
